@import "variables.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  background: $panel;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 1170px) {
    padding: 0;
  }
}

header {
  padding: 20px 0 0 0;
}

img.img-responsive {
  width: 100%;
}

.image-item-container {
  @media screen and (max-width: ($breakpoint-tablet - 1px)) {
    display: none;
  }
}

img.image-item {

  @media screen and (max-width: ($breakpoint-tablet - 1)) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transition: 0.5s;
  }
}