@import "variables.scss";

#slider {
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

#slider-bars {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.slider-bar {
  height: 4px;
  width: 5vw;
  margin: 0 5px;
  background: #000;

  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.slider-bar-active {
  background: $primary-orange;
}