// Base
// $font-size: 16px;

// Colors
$primary-blue: rgba(39, 25, 140, 1);
$primary-orange: rgba(254, 112, 16, 1);

$text-heading: rgba(190, 190, 190, 1);
$text-primary: rgba(25, 25, 25, 1);

$border: rgba(229, 229, 229, 1);
$panel: rgba(246, 246, 246, 1);

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1366px;
$breakpoint-desktop-large: 1920px;